#nprogress .bar {
  background: var(--color-brand-500) !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 5px !important;
  z-index: 9999999 !important;
  box-shadow:
    0 0 10px var(--color-brand-500),
    0 0 5px var(--color-brand-500) !important;
}

#nprogress .peg {
  display: none !important;
}
